<!DOCTYPE  html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
		<link rel="stylesheet" href="css/index.css"></link>
		<title>Fractapion</title>

	</head>

	<body>
		<h1>Fractapion</h1>
		<form class="connection">
			<p>
				<label class="labPseudo">Pseudo</label>
				<label class="invalide">Pseudo incorrect</label>
				<input type="text" id="pseudo" class="pseudo" placeholder="Ex : Toto" autofocus />
				<!--button type="submit" class="conn">Connexion</button-->
				<a href="#" class="conn">Connexion</a>
			</p>
		</form>
		<div class="game">
			<div class="wellcome">
				<p>Bienvenue <span class="pseudo"></span></p>
				<p class="youWin">Bravo vous avez gagné</p>
				<p class="youLose">Vous avez perdu</p>
				<p class="finish">Personnes n'a gagné</p>
				<p class="info"></p>
				<p class="state"></p>
				<p class="this">Vous <img src=""/></p>
				<p class="turn">A de jouer</p>
				<a href="#" class="restart">Rejouer</a>
			</div>
			<div class="ruls">
				<h2>Les Règles</h2>
				<ol>
					<li>vgdfhazertyuijhgfdserthjnbvcdfghjk,nbvcftyujk,ncdfghjk,nbvcfghjk,nb</li>
					<li>vgdfhazertyuijhgfdserthjnbvcdfghjk,nbvcftyujk,ncdfghjk,nbvcfghjk,nb</li>
					<li>vgdfhazertyuijhgfdserthjnbvcdfghjk,nbvcftyujk,ncdfghjk,nbvcfghjk,nb</li>
				</ol>
			</div>
			<table class="fract">
				<tbody>
					<tr>
						<td big="0">
							<table class="morpion">
								<tbody>
									<tr>
										<td m="0">
											<img src="vide.png">
										</td>
										<td m="1">
											<img src="vide.png">
										</td>
										<td m="2">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="3">
											<img src="vide.png">
										</td>
										<td m="4">
											<img src="vide.png">
										</td>
										<td m="5">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="6">
											<img src="vide.png">
										</td>
										<td m="7">
											<img src="vide.png">
										</td>
										<td m="8">
											<img src="vide.png">
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td big="1">
							<table class="morpion">
								<tbody>
									<tr>
										<td m="0">
											<img src="vide.png">
										</td>
										<td m="1">
											<img src="vide.png">
										</td>
										<td m="2">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="3">
											<img src="vide.png">
										</td>
										<td m="4">
											<img src="vide.png">
										</td>
										<td m="5">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="6">
											<img src="vide.png">
										</td>
										<td m="7">
											<img src="vide.png">
										</td>
										<td m="8">
											<img src="vide.png">
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td big="2">
							<table class="morpion">
								<tbody>
									<tr>
										<td m="0">
											<img src="vide.png">
										</td>
										<td m="1">
											<img src="vide.png">
										</td>
										<td m="2">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="3">
											<img src="vide.png">
										</td>
										<td m="4">
											<img src="vide.png">
										</td>
										<td m="5">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="6">
											<img src="vide.png">
										</td>
										<td m="7">
											<img src="vide.png">
										</td>
										<td m="8">
											<img src="vide.png">
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td big="3">
							<table class="morpion">
								<tbody>
									<tr>
										<td m="0">
											<img src="vide.png">
										</td>
										<td m="1">
											<img src="vide.png">
										</td>
										<td m="2">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="3">
											<img src="vide.png">
										</td>
										<td m="4">
											<img src="vide.png">
										</td>
										<td m="5">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="6">
											<img src="vide.png">
										</td>
										<td m="7">
											<img src="vide.png">
										</td>
										<td m="8">
											<img src="vide.png">
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td big="4">
							<table class="morpion">
								<tbody>
									<tr>
										<td m="0">
											<img src="vide.png">
										</td>
										<td m="1">
											<img src="vide.png">
										</td>
										<td m="2">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="3">
											<img src="vide.png">
										</td>
										<td m="4">
											<img src="vide.png">
										</td>
										<td m="5">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="6">
											<img src="vide.png">
										</td>
										<td m="7">
											<img src="vide.png">
										</td>
										<td m="8">
											<img src="vide.png">
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td big="5">
							<table class="morpion">
								<tbody>
									<tr>
										<td m="0">
											<img src="vide.png">
										</td>
										<td m="1">
											<img src="vide.png">
										</td>
										<td m="2">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="3">
											<img src="vide.png">
										</td>
										<td m="4">
											<img src="vide.png">
										</td>
										<td m="5">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="6">
											<img src="vide.png">
										</td>
										<td m="7">
											<img src="vide.png">
										</td>
										<td m="8">
											<img src="vide.png">
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td big="6">
							<table class="morpion">
								<tbody>
									<tr>
										<td m="0">
											<img src="vide.png">
										</td>
										<td m="1">
											<img src="vide.png">
										</td>
										<td m="2">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="3">
											<img src="vide.png">
										</td>
										<td m="4">
											<img src="vide.png">
										</td>
										<td m="5">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="6">
											<img src="vide.png">
										</td>
										<td m="7">
											<img src="vide.png">
										</td>
										<td m="8">
											<img src="vide.png">
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td big="7">
							<table class="morpion">
								<tbody>
									<tr>
										<td m="0">
											<img src="vide.png">
										</td>
										<td m="1">
											<img src="vide.png">
										</td>
										<td m="2">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="3">
											<img src="vide.png">
										</td>
										<td m="4">
											<img src="vide.png">
										</td>
										<td m="5">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="6">
											<img src="vide.png">
										</td>
										<td m="7">
											<img src="vide.png">
										</td>
										<td m="8">
											<img src="vide.png">
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td big="8">
							<table class="morpion">
								<tbody>
									<tr>
										<td m="0">
											<img src="vide.png">
										</td>
										<td m="1">
											<img src="vide.png">
										</td>
										<td m="2">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="3">
											<img src="vide.png">
										</td>
										<td m="4">
											<img src="vide.png">
										</td>
										<td m="5">
											<img src="vide.png">
										</td>
									</tr>
									<tr>
										<td m="6">
											<img src="vide.png">
										</td>
										<td m="7">
											<img src="vide.png">
										</td>
										<td m="8">
											<img src="vide.png">
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="javascript/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="javascript/morpion.js"></script>
	<script type="text/javascript" src="javascript/local.js"></script>
	<script type="text/javascript" src="javascript/multi.js"></script>
	<script type="text/javascript" src="javascript/app.js"></script>
</html>

